@use 'src/mixins' as mixins;

:host {
    height: 100%;
    width: 100%;
}

.step-content {
  padding-top: 15px !important;
  max-width: fit-content;
  margin: auto;

  & section {
    margin-bottom: 20px;
  }
}

#dishesForm {
  display: flex;
  flex-direction: column;

  .categoryContainer {

    .categoryTitle {
      text-align: center;
    }

    .categoryDishesContainer {
      display: flex;
      flex-wrap: nowrap;
      overflow-y: hidden;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
      direction: rtl;

      &, & .dishCheckBoxContainer {
        // Position scrollbar at the top
        transform: rotate(180deg);
        margin: 10px;
      }

      &::-webkit-scrollbar {
        width: 10px;
      }
      // TODO: Change to theme colors
      &::-webkit-scrollbar-thumb {
        background-color: yellow;
        border: 5px solid rgba(235,235,235,.8);
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: rgba(235,235,235,.8);
      }
      scrollbar-color: yellow auto;

      .dishCheckBoxContainer {
        direction: ltr;
        display: flex;

        mat-checkbox.dishCheckBox {
          display: flex;
          align-self: stretch;
        }
        &::ng-deep .mdc-checkbox {
          display: none;
        }
        &::ng-deep label{
          align-self: stretch;
        }
      }
    }
  }
}

mat-form-field {
  width: 500px;
}

#pageContainer {
  height: var(--body-height);
  display: flex;
  justify-content: center;
}



div.formContainerOffset {
  width: 50px;
}

.error {
  @include mixins.warn-text-color(A700);
}

/* Extra small devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
  mat-stepper {
    width: 95%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  mat-stepper {
    width: 70%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 1400px) {
  mat-stepper {
    margin-top: 60px;
  }
}
