<form [formGroup]="userForm" (ngSubmit)="registerUser()">
<div id="pageContainer">
    <mat-stepper orientation="vertical" [linear]="true" #stepper ><!-- FIXME: Change [linear] back to true After development-->
      <!-- Step 1 -->
      <mat-step [stepControl]="userForm.controls['infoFormGroup']">
        <ng-template matStepLabel>Fill out your info</ng-template>
        <div class="step-content">
          <div formGroupName="infoFormGroup" fxLayout="column" fxLayoutGap="15px" >

            <!-- Name -->
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Last name, First name"
                formControlName="name"
                required
              />
              <mat-error *ngIf="userForm.controls['infoFormGroup'].get('name')!.errors?.['required']">Name is required</mat-error>
            </mat-form-field>
            <!-- <br/> -->

            <!-- Address -->
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
              <mat-label>Address</mat-label>
              <input
                matInput
                placeholder="Enter your address"
                formControlName="address"
                required
              />
              <!-- <br/> -->
              <mat-error *ngIf="userForm.controls['infoFormGroup'].get('address')!.errors?.['required']">Address is required</mat-error>
            </mat-form-field>

            <!-- Phone Number -->
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
              <mat-label>Phone Number</mat-label>
              <input
                matInput
                placeholder="Enter your phone #"
                formControlName="phoneNumber"
              />
              <mat-error *ngIf="userForm.controls['infoFormGroup'].get('phoneNumber')!.errors?.['required']">Phone Number is required</mat-error>
            </mat-form-field>

            <!-- Allergies -->
            <mat-form-field appearance="fill" subscriptSizing="dynamic">
              <mat-label>Allergies</mat-label>
              <mat-select formControlName="allergies" placeholder="None" multiple>
                <mat-option
                  *ngFor="let allergy of allergies"
                  [value]="allergy"
                  >{{ allergy.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <br>
          <div fxLayoutAlign="end">
            <button mat-raised-button type="button" color="accent" matStepperNext [disabled]="!userForm.controls['infoFormGroup'].valid">Next</button>
          </div>
        </div>
      </mat-step>

      <!-- Step 2 -->
      <mat-step [stepControl]="userForm.controls['dishesFormGroup']">
        <div class="step-content">
          <ng-template matStepLabel>Select Dishes</ng-template>
          <section>
            <h2>Family Size</h2>
            <number-range
            [range]="[2, 3, 4]"
              (numberSelected)="changeServing($event)"
              ></number-range>
          </section>

          <section>
            <h2>Number of Meals/Week</h2>
            <number-range
            *ngIf="tiers.length > 0"
            [range]="tierDishCountRange"
            (numberSelected)="changeMealsPW($event)"
            ></number-range>
          </section>

          <section>
            <div formGroupName="dishesFormGroup" id="dishesForm">
              <div class="categoryContainer" *ngFor="let category of dishCategories">
                <h2 class="categoryTitle">{{ category }}</h2>
                <!-- Container that contains all of the dishes-->
                <div class="categoryDishesContainer">
                  <!-- Contains a single dish card-->
                  <div class="dishCheckBoxContainer" *ngFor="let dish of getDishesInCategory(category)">
                    <mat-checkbox
                    class="dishCheckBox"
                    [formControlName]="dish.name + '-' + dish.dishId">
                      <app-dish-check-box [id]="dish.name + '-' + dish.dishId" [dish]="dish" (check)="checkDishToggle($event)"></app-dish-check-box>
                    </mat-checkbox>
                  </div>
                </div>
              </div>
            </div>
          </section>

            <div>
              <p [ngStyle]="{ 'visibility': userForm.controls['dishesFormGroup'].valid? 'hidden': 'visible'}" class="error">Select {{ chosenTier.dishCount }} dishes or change the amount of dishes per week you would like.</p>
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="button" mat-raised-button color="accent" [disabled]="!userForm.controls['dishesFormGroup'].valid" matStepperNext>Next</button>
            </div>
        </div>
      </mat-step>

      <!-- Step 3 -->
      <mat-step [stepControl]="userForm.controls['credentialsFormGroup']">
        <ng-template matStepLabel>Register</ng-template>
        <div class="step-content">
          <div formGroupName="credentialsFormGroup" fxLayout="column">
            <!-- Email -->
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Enter your email"
                formControlName="email"
                required
              />
              <mat-error *ngIf="userForm.controls['credentialsFormGroup'].get('email')!.touched && userForm.controls['credentialsFormGroup'].get('email')!.errors?.['required']">Email is required</mat-error>
              <mat-error *ngIf="userForm.controls['credentialsFormGroup'].get('email')!.touched && userForm.controls['credentialsFormGroup'].get('email')!.errors?.['email']">Check email format</mat-error>
            </mat-form-field>

            <!-- Password -->
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="Enter your password"
                type="password"
                formControlName="password"
                required
              />
              <mat-error *ngIf="userForm.controls['credentialsFormGroup'].get('password')!.touched && userForm.controls['credentialsFormGroup'].get('password')!.errors?.['required']">Password is required</mat-error>
            </mat-form-field>
            <div>
              <button mat-button type="button" color="warn" (click)="stepper.reset()">Reset</button>
              <button mat-button type="button" matStepperPrevious>Back</button>
              <button mat-button mat-raised-button color="accent" type="submit" [disabled]="!userForm.valid">Checkout</button>
            </div>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</form>
