:host {
    height: 100%;
    width: 100%;
}

mat-stepper {
  margin-left: 100px;
  margin-top: 60px;
}

#pageContainer {
    height: var(--body-height);
}

mat-form-field {
  min-width: 200px;
  max-width: 500px;
}

div.formContainerOffset {
  width: 50px;
}

.step-content {
  padding-top: 15px !important;
  margin-left: 100px;

  & section {
    margin-bottom: 20px;
  }
}
