<div id="pageContainer">
  <mat-stepper orientation="vertical" [linear]="false" #stepper>
    <!-- Info -->
    <mat-step [stepControl]="infoFormGroup">
      <ng-template matStepLabel>Fill out your info</ng-template>
      <div class="step-content">
        <form [formGroup]="infoFormGroup" fxLayout="column" fxLayoutGap="15px" >

          <!-- Name -->
          <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="name"
              required
            />
            <mat-error *ngIf="infoFormGroup.controls['name'].errors?.['required']">Name is required</mat-error>
          </mat-form-field>
          <!-- <br/> -->

          <!-- Address -->
          <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Address</mat-label>
            <input
              matInput
              placeholder="Enter your address"
              formControlName="address"
              required
            />
            <!-- <br/> -->
            <mat-error *ngIf="infoFormGroup.controls['address'].errors?.['required']">Address is required</mat-error>
          </mat-form-field>

          <!-- Phone Number -->
          <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Phone Number</mat-label>
            <input
              matInput
              placeholder="Enter your phone #"
              formControlName="phoneNumber"
            />
            <mat-error *ngIf="infoFormGroup.controls['phoneNumber'].errors?.['required']">Phone Number is required</mat-error>
          </mat-form-field>
          <!-- <br/> -->

          <!-- Allergies -->
          <mat-form-field appearance="fill" subscriptSizing="dynamic">
            <mat-label>Allergies</mat-label>
            <mat-select formControlName="allergies" placeholder="None" multiple>
              <mat-option
                *ngFor="let allergy of allergies"
                [value]="allergy.name"
                >{{ allergy.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </form>
        <br>
        <div fxLayoutAlign="end">
          <button mat-raised-button color="accent" (click)="showDishStep()">Next</button>
        </div>
      </div>
    </mat-step>

    <!-- Step 2 -->
    <mat-step [stepControl]="dishesFormGroup">
      <div class="step-content">
        <ng-template matStepLabel>Select Dishes</ng-template>
        <section>
          <h2>Family Size</h2>
          <app-selectnumbers
          [range]="[2, 3, 4]"
            (selectionChange)="changeServing($event)"
            ></app-selectnumbers>
        </section>

        <section>
          <h2>Number of Meals/Week</h2>
          <app-selectnumbers
          [range]="[2, 3, 4]"
          (selectionChange)="changeMealsPW($event)"
          ></app-selectnumbers>
        </section>

        <section>
          <h2>Select Dishes</h2>
          <form [formGroup]="dishesFormGroup">
            <span *ngFor="let dish of dishes">
              <mat-checkbox
                class="dishCheckBox"
                formControlName="{{ dish.name + dish.dishId }}">
                {{ dish.name }}
              </mat-checkbox>
            </span>
          </form>
        </section>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-raised-button color="accent" matStepperNext>Next</button>
          </div>
      </div>
    </mat-step>

    <!-- Step 3 -->
    <mat-step>
      <ng-template matStepLabel>Register</ng-template>
      <div class="step-content">
        <form [formGroup]="credentialsFormGroup" fxLayout="column">
          <!-- Email -->
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              placeholder="Enter your email"
              formControlName="email"
              required
            />
          </mat-form-field>

          <!-- Password -->
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Enter your password"
              type="password"
              formControlName="password"
              required
            />
          </mat-form-field>
        </form>
        <div>
          <button mat-button color="warn" (click)="stepper.reset()">Reset</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button mat-raised-button color="accent" type="submit">Checkout</button>
        </div>
      </div>
    </mat-step>
  </mat-stepper>
</div>
