.dish-card {
  width: min-content;
  user-select: none;
}

// Highlight card when 'checked' or selected
mat-card.checked {
  background-color: lime; //TODO: change to theme colors & animate the fill of color
  mat-card-content {
    background-color: yellow; //TODO: change to theme colors
  }
}

mat-card-content {
  height: auto;
  max-height: 75px;
  display: flex;
  overflow: hidden;
  padding: 5px 10%;
  transition: max-height .2s ease-out;

  &.expand {
    max-height: 500px;
  }

  p {
    text-align: center;
  }
}

mat-card-actions {
  min-height: unset;
}
.seeMore {
  color: blue;
}

