.dish-card {
  width: min-content;
}

mat-card-content {
  height: auto;
  max-height: 75px;
  display: flex;
  overflow: hidden;
  padding: 5px 10%;
  transition: max-height .2s ease-out;

  &.expand {
    max-height: 500px;
  }

  p {
    text-align: center;
  }
}

.seeMore {
  color: blue;
}

