@use '@angular/material' as mat;

$primary: mat.$light-green-palette;
$accent: mat.$lime-palette;
$warn: mat.$deep-orange-palette;

@mixin hover-theme() {
  $accent: mat.$lime-palette;

  &:hover {
    background-color: mat.get-color-from-palette($accent, 50);
  }
}

@mixin primary-background($hue-value: 100) {
  background-color: mat.get-color-from-palette($primary, $hue-value);
}

@mixin accent-background($hue-value: 100) {
  background-color: mat.get-color-from-palette($accent, $hue-value);
}

@mixin warn-text-color($hue-value: 100) {
  color: mat.get-color-from-palette($warn, $hue-value);
}
