@use '@angular/material/theming' as mat;
@use '/src/mixins.scss' as mixins;
@use 'sass:map';

button.option {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  @include mixins.hover-theme();
}

.selected button.option {
  @include mixins.primary-background(500);
}
